@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$color-grey: #c2cad0;
$color-dark: #7e685a;
$color-light: #c2b9b0;
$color-white: #fff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
}

.container {
    max-width: 1140px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
